In [142]:
import pandas as pd

In [143]:
df = pd.read_csv('./csv_file/국민여행조사_여행지역.csv', encoding='utf-8')

In [144]:
df = df[df['MON_EXP_1'] == 1]
df = df[df['BSEX'] == 1.0]
df_20 = df[df['BAGE'] == 2]
df_20.reset_index(drop=True, inplace=True)

In [145]:
def travel_output(df_20):
    dist = []
    for i in range(len(df_20)):
        if df_20['D_TRA1_1_SPOT1'][i][:2] == '11':
            dist.append('서울')
        elif df_20['D_TRA1_1_SPOT1'][i][:2] == '21':
            dist.append('부산')
        elif df_20['D_TRA1_1_SPOT1'][i][:2] == '22':
            dist.append('대구')
        elif df_20['D_TRA1_1_SPOT1'][i][:2] == '23':
            dist.append('인천')
        elif df_20['D_TRA1_1_SPOT1'][i][:2] == '25':
            dist.append('대전')
        elif df_20['D_TRA1_1_SPOT1'][i][:2] == '29':
            dist.append('세종')
        elif df_20['D_TRA1_1_SPOT1'][i][:2] == '24':
            dist.append('광주')
        elif df_20['D_TRA1_1_SPOT1'][i][:2] == '26':
            dist.append('울산')
        elif df_20['D_TRA1_1_SPOT1'][i][:2] == '31':
            dist.append('경기도')
        elif df_20['D_TRA1_1_SPOT1'][i][:2] == '32':
            dist.append('강원도')
        elif df_20['D_TRA1_1_SPOT1'][i][:2] == '33':
            dist.append('충청북도')
        elif df_20['D_TRA1_1_SPOT1'][i][:2] == '37':
            dist.append('경상북도')
        elif df_20['D_TRA1_1_SPOT1'][i][:2] == '38':
            dist.append('경상남도')
        elif df_20['D_TRA1_1_SPOT1'][i][:2] == '35':
            dist.append('전라북도')
        elif df_20['D_TRA1_1_SPOT1'][i][:2] == '36':
            dist.append('전라남도')
        elif df_20['D_TRA1_1_SPOT1'][i][:2] == '39':
            dist.append('제주도')
        else:
            dist.append('-')
    df_20['여행지역'] = dist
    return df_20

In [146]:
df_20 = travel_output(df_20)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [147]:
df = df[df['MON_EXP_1'] == 1]
df = df[df['BSEX'] == 1.0]
df_30 = df[df['BAGE'] == 3]
df_30.reset_index(drop=True, inplace=True)

In [148]:
df_30 = travel_output(df_30)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [149]:
df = df[df['MON_EXP_1'] == 1]
df = df[df['BSEX'] == 1.0]
df_40 = df[df['BAGE'] == 4]
df_40.reset_index(drop=True, inplace=True)

In [150]:
df_40 = travel_output(df_40)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [151]:
df = df[df['MON_EXP_1'] == 1]
df = df[df['BSEX'] == 1.0]
df_50 = df[df['BAGE'] == 5]
df_50.reset_index(drop=True, inplace=True)

In [152]:
df_50 = travel_output(df_50)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [153]:
df = df[df['MON_EXP_1'] == 1]
df = df[df['BSEX'] == 1.0]
df_60 = df[df['BAGE'] == 6]
df_60.reset_index(drop=True, inplace=True)

In [154]:
df_60 = travel_output(df_60)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [155]:
df = df[df['MON_EXP_1'] == 1]
df = df[df['BSEX'] == 1.0]
df_70 = df[df['BAGE'] == 7]
df_70.reset_index(drop=True, inplace=True)

In [156]:
df_70 = travel_output(df_70)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [157]:
df = df[df['MON_EXP_1'] == 1]
df = df[df['BSEX'] == 2.0]
df2_20 = df[df['BAGE'] == 2]
df2_20.reset_index(drop=True, inplace=True)

In [158]:
df2_20 = travel_output(df2_20)

In [159]:
df = df[df['MON_EXP_1'] == 1]
df = df[df['BSEX'] == 2.0]
df2_30 = df[df['BAGE'] == 3]
df2_30.reset_index(drop=True, inplace=True)

In [160]:
df2_30 = travel_output(df2_30)

In [161]:
df = df[df['MON_EXP_1'] == 1]
df = df[df['BSEX'] == 2.0]
df2_40 = df[df['BAGE'] == 4]
df2_40.reset_index(drop=True, inplace=True)

In [162]:
df2_40 = travel_output(df2_40)

In [163]:
df = df[df['MON_EXP_1'] == 1]
df = df[df['BSEX'] == 2.0]
df2_50 = df[df['BAGE'] == 5]
df2_50.reset_index(drop=True, inplace=True)

In [164]:
df2_50 = travel_output(df2_50)

In [165]:
df = df[df['MON_EXP_1'] == 1]
df = df[df['BSEX'] == 2.0]
df2_60 = df[df['BAGE'] == 6]
df2_60.reset_index(drop=True, inplace=True)

In [166]:
df2_60 = travel_output(df2_60)

In [167]:
df = df[df['MON_EXP_1'] == 1]
df = df[df['BSEX'] == 2.0]
df2_70 = df[df['BAGE'] == 7]
df2_70.reset_index(drop=True, inplace=True)

In [168]:
df2_70 = travel_output(df2_70)

In [169]:
df_m = pd.concat([df_20, df_30, df_40, df_50, df_60, df_70])

In [170]:
df_m.reset_index(drop=True, inplace=True)

In [171]:
df_m

                       ID  MON_EXP_1 D_TRA1_1_SPOT1  BSEX  BAGE  BARA  여행지역
0     1101069027A_1030489          1          23310     1     2    11    인천
1     11030520921_1000130          1          32010     1     2    11   강원도
2     11030700191_1097793          1          31370     1     2    11   경기도
3     11030710301_1128662          1          32010     1     2    11   강원도
4     1104052022A_1094206          1                    1     2    11     -
...                   ...        ...            ...   ...   ...   ...   ...
8768  39010542161_1350581          1          25050     1     7    39    대전
8769  39010660201_1127427          1          39020     1     7    39   제주도
8770  3901066062A_1189633          1          35320     1     7    39  전라북도
8771  39020110791_1127521          1          39010     1     7    39   제주도
8772  3902012U01A_1319238          1          11010     1     7    39    서울

[8773 rows x 7 columns]

In [172]:
df_w = pd.concat([df2_20, df2_30, df2_40, df2_50, df2_60, df2_70])

In [173]:
df_w.reset_index(drop=True, inplace=True)

In [174]:
df_w['여행지역'].value_counts()

Series([], Name: 여행지역, dtype: int64)

In [138]:
df_m['여행지역'].value_counts()

강원도     1087
전라남도    1011
경상북도     876
-        868
경상남도     825
경기도      824
전라북도     733
부산       531
충청북도     421
제주도      419
서울       341
인천       244
대전       161
대구       141
광주       119
울산       118
세종        54
Name: 여행지역, dtype: int64

In [177]:
df_m.to_csv('./csv_file/19_남자_여행지역.csv', encoding='utf-8')
df_w.to_csv('./csv_file/19_여자_여행지역.csv', encoding='utf-8')