In [35]:
import pandas as pd

In [96]:
df_over = pd.read_csv('./국민여행조사/해외여행 데이터셋.csv')
df_dom = pd.read_csv('동구형화이팅.csv')
df_dom1 = pd.read_csv('./csv_file/국내여행선정기준.csv')

In [97]:
area = []
for i in range(len(df_over)):
    area.append(1)
df_over['area'] = area

In [98]:
df_over.head()

,ID,AA3_1,AA3_2,AA3_3,AA3_4,AA3_5,AA3_6,AA3_7,AA3_8,AA3_9,...,A08,A09,A10,A11,A12,A13,A14,A15,label,area
0,11010570431_1030412,1,1,1,1,0,0,1,0,0,...,0,3,0,0,0,0,5,0,1,1
1,1104052022A_1094206,0,1,0,1,1,1,0,0,0,...,0,0,0,3,0,0,0,0,1,1
2,1104071043A_1191809,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,1
3,11080780251_1031209,1,1,0,0,0,1,1,1,1,...,0,0,0,0,0,0,5,0,1,1
4,11080810811_1059620,1,1,0,0,1,1,0,0,0,...,0,0,0,1,0,0,0,0,1,1

In [99]:
df_dom = df_dom.drop(['Unnamed: 0'], axis=1)
df_dom = df_dom[(df_dom['BAGE'] == 2) | (df_dom['BAGE'] == 3)]

In [100]:
df_dom1 = df_dom1.drop(['Unnamed: 0', 'label'], axis=1)

In [101]:
df_dom = pd.merge(df_dom, df_dom1, on='ID', how='left')

In [102]:
df_dlabel = df_dom[['label']]
df_dom = df_dom.drop(['BSEX', 'BAGE', 'label'], axis=1)

In [103]:
df_olabel = df_over[['label']]
df_over = df_over.drop(['label'], axis=1)

In [104]:
area = []
for i in range(len(df_dom)):
    area.append(0)
df_dom['area'] = area

In [105]:
df_dm = df_dom[:44]

In [106]:
df_dm.columns

Index(['ID', 'A3_1', 'A3_2', 'A3_3', 'A3_4', 'A3_5', 'A3_6', 'A3_7', 'A3_8',
       'A3_9', 'A3_10', 'A3_11', 'A3_12', 'A3_13', 'A3_14', 'A3_15', 'A3_16',
       'A3_17', 'A3_18', 'A3_19', 'A3_20', 'A3_21', 'A01', 'A02', 'A03', 'A04',
       'A05', 'A06', 'A07', 'A08', 'A09', 'A10', 'A11', 'A12', 'A13', 'A14',
       'A15', 'area'],
      dtype='object')

In [107]:
df_over.columns = ['ID', 'A3_1', 'A3_2', 'A3_3', 'A3_4', 'A3_5', 'A3_6', 'A3_7', 'A3_8',
       'A3_9', 'A3_10', 'A3_11', 'A3_12', 'A3_13', 'A3_14', 'A3_15', 'A3_16',
       'A3_17', 'A3_18', 'A3_19', 'A3_20', 'A3_21', 'A01', 'A02', 'A03', 'A04',
       'A05', 'A06', 'A07', 'A08', 'A09', 'A10', 'A11', 'A12', 'A13', 'A14',
       'A15', 'area']

In [108]:
df_over.A01.value_counts()

0    22
5    12
3     5
1     5
Name: A01, dtype: int64

In [109]:
df = pd.concat([df_dm, df_over])

In [110]:
df.to_csv('./국민여행조사/국내해외 데이터셋.csv', index=False)