In [103]:
import pandas as pd

In [104]:
df_2020 = pd.read_csv('./신한카드 데이터/df_2020.csv')

In [105]:
df_2019 = pd.read_csv('./신한카드 데이터/df_2019_상반기.csv')

In [106]:
여행2019 = df_2019.groupby('업종2')['취급액'].sum()
여행2019 = pd.DataFrame(여행2019)
여행2020 = df_2020.groupby('업종2')['취급액'].sum()
여행2020 = pd.DataFrame(여행2020)
여행추이 = pd.merge(여행2019, 여행2020, on='업종2')
여행추이.columns = ['취급액_2019', '취급액_2020']

In [107]:
gap = []
for i in range(len(여행추이)):
    gap.append(((여행추이['취급액_2020'][i] - 여행추이['취급액_2019'][i])/여행추이['취급액_2019'][i])*100)
여행추이['gap'] = gap

In [108]:
여행추이.index.name = '여행업종'

In [109]:
여행추이

          취급액_2019      취급액_2020        gap
여행업종
관광쇼핑  9.431901e+11  3.442703e+11 -63.499369
교통    4.365871e+12  2.154694e+12 -50.646864
숙박    1.824582e+12  1.351646e+12 -25.920231
여행사   8.014119e+11  1.936506e+11 -75.836326
체험    1.940816e+11  1.178543e+11 -39.275922

In [110]:
df_2020.연령대.value_counts()

40    152553
30    151725
20    140925
50    139469
60     94811
Name: 연령대, dtype: int64

In [111]:
df_2020.groupby('연령대')['이용건수'].sum()

연령대
20    24613622
30    20996700
40    18897743
50    16068323
60     8375745
Name: 이용건수, dtype: int64

In [112]:
df_2020_체험 = df_2020[df_2020['성별'] == 'M'].groupby('연령대')['이용건수'].sum()
df_2020_체험

연령대
20    12284992
30    11950895
40    11077407
50     9450130
60     5302187
Name: 이용건수, dtype: int64

In [113]:
df_2019.groupby('연령대')['이용건수'].sum()

연령대
20    38044309
30    32933614
40    30856643
50    25089872
60    12553208
Name: 이용건수, dtype: int64

In [114]:
df_2019.groupby('연령대')['이용건수'].sum()

연령대
20    38044309
30    32933614
40    30856643
50    25089872
60    12553208
Name: 이용건수, dtype: int64

In [115]:
df_2020_체험 = df_2020[df_2020['업종2'] == '체험'].groupby('연령대')['이용건수'].sum()
df_2020_체험
# 30대가 체험을 가장 많이 함

연령대
20     785533
30    1874386
40    1485948
50     643771
60     386835
Name: 이용건수, dtype: int64

In [116]:
df_2020_20대 = df_2020[df_2020['연령대'] == 20].groupby('업종2')['이용건수'].sum()
df_2020_20대
# 숙박, 관광쇼핑, 체험 순으로 이용

업종2
관광쇼핑      937793
교통      18217121
숙박       4583641
여행사        89534
체험        785533
Name: 이용건수, dtype: int64

In [117]:
df_2019_체험 = df_2019[df_2019['업종2'] == '체험'].groupby('연령대')['이용건수'].sum()
df_2019_체험

연령대
20    1112758
30    2966840
40    2371438
50     909517
60     525854
Name: 이용건수, dtype: int64

In [118]:
df_2019_20대 = df_2019[df_2019['연령대'] == 20].groupby('업종2')['이용건수'].sum()
df_2019_20대

업종2
관광쇼핑     1932752
교통      28685628
숙박       6108128
여행사       205043
체험       1112758
Name: 이용건수, dtype: int64

In [119]:
df_2020_20대 = pd.DataFrame(df_2020_20대)

In [120]:
df_2019_20대 = pd.DataFrame(df_2019_20대)

In [121]:
df_20대 = pd.merge(df_2019_20대, df_2020_20대, on='업종2')

In [122]:
ratio = []
for i in range(len(df_20대)):
    ratio.append(((df_20대['이용건수_y'][i] - df_20대['이용건수_x'][i])/df_20대['이용건수_x'][i])*100)

df_20대['ratio'] = ratio
df_20대

        이용건수_x    이용건수_y      ratio
업종2
관광쇼핑   1932752    937793 -51.478876
교통    28685628  18217121 -36.493909
숙박     6108128   4583641 -24.958334
여행사     205043     89534 -56.334037
체험     1112758    785533 -29.406663

In [123]:
df_2019_30대 = df_2019[df_2019['연령대'] == 30].groupby('업종2')['이용건수'].sum()
df_2019_30대
df_2019_30대 = pd.DataFrame(df_2019_20대)

In [124]:
df_2020_30대 = df_2020[df_2020['연령대'] == 30].groupby('업종2')['이용건수'].sum()
df_2020_30대
df_2020_30대 = pd.DataFrame(df_2020_30대)

In [125]:
df_30대 = pd.merge(df_2019_30대, df_2020_30대, on='업종2')
ratio = []
for i in range(len(df_30대)):
    ratio.append(((df_30대['이용건수_y'][i] - df_30대['이용건수_x'][i])/df_30대['이용건수_x'][i])*100)

df_30대['ratio'] = ratio
df_30대

        이용건수_x    이용건수_y      ratio
업종2
관광쇼핑   1932752   1099106 -43.132590
교통    28685628  12986193 -54.729271
숙박     6108128   4876773 -20.159286
여행사     205043    160242 -21.849563
체험     1112758   1874386  68.445071

In [126]:
df_2019_40대 = df_2019[df_2019['연령대'] == 40].groupby('업종2')['이용건수'].sum()
df_2019_40대
df_2019_40대 = pd.DataFrame(df_2019_40대)

df_2020_40대 = df_2020[df_2020['연령대'] == 40].groupby('업종2')['이용건수'].sum()
df_2020_40대
df_2020_40대 = pd.DataFrame(df_2020_40대)

df_40대 = pd.merge(df_2019_40대, df_2020_40대, on='업종2')
ratio = []
for i in range(len(df_40대)):
    ratio.append(((df_40대['이용건수_y'][i] - df_40대['이용건수_x'][i])/df_40대['이용건수_x'][i])*100)

df_40대['ratio'] = ratio
df_40대

        이용건수_x    이용건수_y      ratio
업종2
관광쇼핑   2700290   1087981 -59.708735
교통    19297298  11461726 -40.604503
숙박     6112254   4693017 -23.219536
여행사     375363    169071 -54.958001
체험     2371438   1485948 -37.339791

In [127]:
df_2019_50대 = df_2019[df_2019['연령대'] == 50].groupby('업종2')['이용건수'].sum()
df_2019_50대
df_2019_50대 = pd.DataFrame(df_2019_50대)

df_2020_50대 = df_2020[df_2020['연령대'] == 50].groupby('업종2')['이용건수'].sum()
df_2020_50대
df_2020_50대 = pd.DataFrame(df_2020_50대)

df_50대 = pd.merge(df_2019_50대, df_2020_50대, on='업종2')
ratio = []
for i in range(len(df_50대)):
    ratio.append(((df_50대['이용건수_y'][i] - df_50대['이용건수_x'][i])/df_50대['이용건수_x'][i])*100)

df_50대['ratio'] = ratio
df_50대

        이용건수_x    이용건수_y      ratio
업종2
관광쇼핑   2010670    838731 -58.285994
교통    17974408  11237162 -37.482436
숙박     3877876   3218952 -16.991879
여행사     317401    129707 -59.134659
체험      909517    643771 -29.218365

In [128]:
df_30_남 = df_2020[df_2020['연령대'] == 30]
df_30_남 = df_30_남[df_30_남['성별'] == 'M'].groupby('업종2')['이용건수'].sum()
df_30_남 = pd.DataFrame(df_30_남)

df_30_여 = df_2020[df_2020['연령대'] == 30]
df_30_여 = df_30_여[df_30_여['성별'] == 'F'].groupby('업종2')['이용건수'].sum()
df_30_여 = pd.DataFrame(df_30_여)

df_30_sex = pd.merge(df_30_여, df_30_남, on='업종2')
df_30_sex.columns = ['30F_20', '30M_20']
df_30_sex

       30F_20   30M_20
업종2
관광쇼핑   510721   588385
교통    6218075  6768118
숙박    1456431  3420342
여행사     61697    98545
체험     798881  1075505

In [129]:
df_20_남 = df_2020[df_2020['연령대'] == 20]
df_20_남 = df_20_남[df_20_남['성별'] == 'M'].groupby('업종2')['이용건수'].sum()
df_20_남 = pd.DataFrame(df_20_남)

df_20_여 = df_2020[df_2020['연령대'] == 20]
df_20_여 = df_20_여[df_20_여['성별'] == 'F'].groupby('업종2')['이용건수'].sum()
df_20_여 = pd.DataFrame(df_20_여)

df_20_sex = pd.merge(df_20_여, df_20_남, on='업종2')
df_20_sex.columns = ['20F_20', '20M_20']
df_20_sex

       20F_20   20M_20
업종2
관광쇼핑   553599   384194
교통    9763935  8453186
숙박    1587567  2996074
여행사     42991    46543
체험     380538   404995

In [130]:
df_40_남 = df_2020[df_2020['연령대'] == 40]
df_40_남 = df_40_남[df_40_남['성별'] == 'M'].groupby('업종2')['이용건수'].sum()
df_40_남 = pd.DataFrame(df_40_남)

df_40_여 = df_2020[df_2020['연령대'] == 40]
df_40_여 = df_40_여[df_40_여['성별'] == 'F'].groupby('업종2')['이용건수'].sum()
df_40_여 = pd.DataFrame(df_40_여)

df_40_sex = pd.merge(df_40_여, df_40_남, on='업종2')
df_40_sex.columns = ['40F_20', '40M_20']
df_40_sex

       40F_20   40M_20
업종2
관광쇼핑   490496   597485
교통    5320593  6141133
숙박    1385315  3307702
여행사     68104   100967
체험     555828   930120

In [131]:
df_50_남 = df_2020[df_2020['연령대'] == 50]
df_50_남 = df_50_남[df_50_남['성별'] == 'M'].groupby('업종2')['이용건수'].sum()
df_50_남 = pd.DataFrame(df_50_남)

df_50_여 = df_2020[df_2020['연령대'] == 50]
df_50_여 = df_50_여[df_50_여['성별'] == 'F'].groupby('업종2')['이용건수'].sum()
df_50_여 = pd.DataFrame(df_50_여)

df_50_sex = pd.merge(df_50_여, df_50_남, on='업종2')
df_50_sex.columns = ['50F_20', '50M_20']
df_50_sex

       50F_20   50M_20
업종2
관광쇼핑   392408   446323
교통    5014617  6222545
숙박     895110  2323842
여행사     57038    72669
체험     259020   384751

In [132]:
df_60_남 = df_2020[df_2020['연령대'] == 60]
df_60_남 = df_60_남[df_60_남['성별'] == 'M'].groupby('업종2')['이용건수'].sum()
df_60_남 = pd.DataFrame(df_50_남)

df_60_여 = df_2020[df_2020['연령대'] == 60]
df_60_여 = df_60_여[df_60_여['성별'] == 'F'].groupby('업종2')['이용건수'].sum()
df_60_여 = pd.DataFrame(df_60_여)

df_60_sex = pd.merge(df_60_여, df_60_남, on='업종2')
df_60_sex.columns = ['60F_20', '60M_20']
df_60_sex

       60F_20   60M_20
업종2
관광쇼핑   163641   446323
교통    2236559  6222545
숙박     490534  2323842
여행사     34410    72669
체험     148414   384751

In [135]:
df19_20_남 = df_2019[df_2019['연령대'] == 20]
df19_20_남 = df19_20_남[df19_20_남['성별'] == 'M'].groupby('업종2')['이용건수'].sum()
df19_20_남 = pd.DataFrame(df19_20_남)

df19_20_여 = df_2019[df_2019['연령대'] == 20]
df19_20_여 = df19_20_여[df19_20_여['성별'] == 'F'].groupby('업종2')['이용건수'].sum()
df19_20_여 = pd.DataFrame(df19_20_여)

df19_20_sex = pd.merge(df19_20_여, df19_20_남, on='업종2')
df19_20_sex.columns = ['20F_19', '20M_19']
df19_20_sex

        20F_19    20M_19
업종2
관광쇼핑   1201062    731690
교통    14905724  13779904
숙박     2022764   4085364
여행사     112096     92947
체험      547812    564946

In [136]:
df19_30_남 = df_2019[df_2019['연령대'] == 30]
df19_30_남 = df19_30_남[df19_30_남['성별'] == 'M'].groupby('업종2')['이용건수'].sum()
df19_30_남 = pd.DataFrame(df19_30_남)

df19_30_여 = df_2019[df_2019['연령대'] == 30]
df19_30_여 = df19_30_여[df19_30_여['성별'] == 'F'].groupby('업종2')['이용건수'].sum()
df19_30_여 = pd.DataFrame(df19_30_여)

df19_30_sex = pd.merge(df19_30_여, df19_30_남, on='업종2')
df19_30_sex.columns = ['30F_19', '30M_19']
df19_30_sex

        30F_19    30M_19
업종2
관광쇼핑   1378625   1428693
교통    10068282  10324072
숙박     2021298   4422918
여행사     143418    179468
체험     1316847   1649993

In [137]:
df19_40_남 = df_2019[df_2019['연령대'] == 40]
df19_40_남 = df19_40_남[df19_40_남['성별'] == 'M'].groupby('업종2')['이용건수'].sum()
df19_40_남 = pd.DataFrame(df19_40_남)

df19_40_여 = df_2019[df_2019['연령대'] == 40]
df19_40_여 = df19_40_여[df19_40_여['성별'] == 'F'].groupby('업종2')['이용건수'].sum()
df19_40_여 = pd.DataFrame(df19_40_여)

df19_40_sex = pd.merge(df19_40_여, df19_40_남, on='업종2')
df19_40_sex.columns = ['40F_19', '40M_19']
df19_40_sex

       40F_19   40M_19
업종2
관광쇼핑  1238839  1461451
교통    9302444  9994854
숙박    1860591  4251663
여행사    180726   194637
체험     909134  1462304

In [138]:
df19_50_남 = df_2019[df_2019['연령대'] == 50]
df19_50_남 = df19_50_남[df19_50_남['성별'] == 'M'].groupby('업종2')['이용건수'].sum()
df19_50_남 = pd.DataFrame(df19_50_남)

df19_50_여 = df_2019[df_2019['연령대'] == 50]
df19_50_여 = df19_50_여[df19_50_여['성별'] == 'F'].groupby('업종2')['이용건수'].sum()
df19_50_여 = pd.DataFrame(df19_50_여)

df19_50_sex = pd.merge(df19_50_여, df19_50_남, on='업종2')
df19_50_sex.columns = ['50F_19', '50M_19']
df19_50_sex

       50F_19   50M_19
업종2
관광쇼핑  1007596  1003074
교통    8385756  9588652
숙박    1142123  2735753
여행사    163610   153791
체험     392540   516977

In [140]:
df19_60_남 = df_2019[df_2019['연령대'] == 60]
df19_60_남 = df19_60_남[df19_60_남['성별'] == 'M'].groupby('업종2')['이용건수'].sum()
df19_60_남 = pd.DataFrame(df19_60_남)

df19_60_여 = df_2019[df_2019['연령대'] == 60]
df19_60_여 = df19_60_여[df19_60_여['성별'] == 'F'].groupby('업종2')['이용건수'].sum()
df19_60_여 = pd.DataFrame(df19_60_여)

df19_60_sex = pd.merge(df19_60_여, df19_60_남, on='업종2')
df19_60_sex.columns = ['60F_19', '60M_19']
df19_60_sex

       60F_19   60M_19
업종2
관광쇼핑   458382   468862
교통    3498072  5501532
숙박     610313  1294245
여행사     85087   110861
체험     213729   312125

In [151]:
df19 = pd.merge(df19_20_sex, df19_30_sex, on='업종2')
df19 = pd.merge(df19, df19_40_sex, on='업종2')
df19 = pd.merge(df19, df19_50_sex, on='업종2')
df19 = pd.merge(df19, df19_60_sex, on='업종2')

df20 = pd.merge(df_20_sex, df_30_sex, on='업종2')
df20 = pd.merge(df20, df_40_sex, on='업종2')
df20 = pd.merge(df20, df_50_sex, on='업종2')
df20 = pd.merge(df20, df_60_sex, on='업종2')