In [1]:
import pandas as pd

In [2]:
df_2017 = pd.read_csv('./신한카드 데이터/KCTI_NATIVE_2017.txt', encoding='cp949', sep='|')
df_2018 = pd.read_csv('./신한카드 데이터/KCTI_NATIVE_2018.txt', encoding='cp949', sep='|')
df_2019 = pd.read_csv('./신한카드 데이터/KCTI_NATIVE_2019.txt', encoding='cp949', sep='|')
df_2020 = pd.read_csv('./신한카드 데이터/KCTI_NATIVE_2020.txt', encoding='cp949', sep='|')
df_for = pd.read_csv('./신한카드 데이터/KCTI_FOREIGNER.txt', encoding='cp949', sep='|')
df_all = pd.read_csv('./신한카드 데이터/KCTI_NATIVE_ALL.txt', encoding='cp949', sep='|')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
def df_modify(df):
    df.columns = ['거주지', '가맹점', '가맹점2', '업종1', '업종2', '성별', '연령대', '이용년월', '요일',
                 '이용시간대', '취급액', '이용건수']
    return df

In [9]:
df_2017 = df_modify(df_2017)
df_2018 = df_modify(df_2018)
df_2019 = df_modify(df_2019)
df_2020 = df_modify(df_2020)
df_all = df_modify(df_all)

In [85]:
df_2017.to_csv('./Code/신용카드_2017.csv')
df_2018.to_csv('./Code/신용카드_2018.csv')
df_2019.to_csv('./Code/신용카드_2019.csv')
df_for.to_csv('./Code/신용카드_for.csv')
df_all.to_csv('./Code/신용카드_all.csv')

MemoryError:

In [16]:
df_2020.head(10)

  거주지 가맹점 가맹점2    업종1      업종2 성별  연령대    이용년월     요일 이용시간대        취급액  이용건수
0  경기  세종    .   취미오락       유흥  M   40  202001    RED    휴식  6410700.0    45
1  경남  세종    .  스포츠활동    레저스포츠  M   30  202001    RED    활동   147900.0    15
2  광주  세종    .   취미오락     패션쇼핑  M   30  202001    RED    휴식   793050.0     5
3  인천  세종    .   취미오락    인터넷게임  M   30  202001    RED    취침    10200.0    10
4  경기  세종    .   취미오락       유흥  M   40  202001    RED    취침   382500.0     5
5  서울  세종    .  스포츠활동  스포츠용품구매  M   40  202001    RED    활동    66300.0    10
6  제주  세종    .  스포츠활동    레저스포츠  M   50  202001    RED    활동   828750.0     5
7  서울  세종    .   취미오락       목욕  M   20  202001  WHITE    취침    54570.0    10
8  강원  세종    .  스포츠활동    레저스포츠  F   20  202001    RED    활동   224400.0     5
9  세종  세종    .   취미오락       독서  M   60  202001    RED    휴식    53040.0     5

In [7]:
def train_value(df):
    df = df.groupby('업종2')['취급액'].sum()
    df = pd.DataFrame(df)
    df.reset_index(inplace=True)
    df = df.sort_values('취급액', ascending=False)
    df = df.reset_index(drop=True)
    return df

In [11]:
train_2017 = train_value(df_2017)
train_2018 = train_value(df_2018)
train_2019 = train_value(df_2019)
train_2020 = train_value(df_2020)
train_all = train_value(df_all)

In [13]:
train = pd.merge(train_2019, train_2020, on='업종2', how='left')

In [15]:
train.head(20)

        업종2         취급액_x         취급액_y
0      종합쇼핑  1.779494e+14  9.124135e+13
1        외식  9.116879e+13  3.515549e+13
2      교육훈련  1.174852e+13  5.081801e+12
3        미용  9.965720e+12  4.476932e+12
4      패션쇼핑  9.638653e+12  4.067535e+12
5        교통  8.543653e+12  2.154694e+12
6     인터넷게임  7.548210e+12  3.916132e+12
7   스포츠용품구매  5.284700e+12  2.281311e+12
8        유흥  4.626251e+12  1.682433e+12
9        숙박  3.945013e+12  1.351646e+12
10       골프  2.837910e+12  1.479341e+12
11       헬스  2.494232e+12  1.091123e+12
12     관광쇼핑  1.891776e+12  3.442703e+11
13  애완동물돌보기  1.664150e+12  8.938188e+11
14       독서  1.654004e+12  7.271667e+11
15      여행사  1.530289e+12  1.936506e+11
16     공연관람  1.518678e+12  3.028477e+11
17    레저스포츠  1.267738e+12  4.570815e+11
18       목욕  7.004838e+11  2.455932e+11
19       체험  4.303905e+11  1.178543e+11