In [1]:
import pandas as pd

In [2]:
df_2017 = pd.read_csv('./신한카드 데이터/df_2017.csv', encoding='utf-8')
df_2018 = pd.read_csv('./신한카드 데이터/df_2018.csv', encoding='utf-8')
df_2019 = pd.read_csv('./신한카드 데이터/df_2019.csv', encoding='utf-8')
df_2020 = pd.read_csv('./신한카드 데이터/df_2020.csv', encoding='utf-8')

In [5]:
df_2017.head()

  거주지 가맹점 가맹점2 업종1 업종2 성별  연령대    이용년월     요일 이용시간대          취급액   이용건수
0  울산  울산   남구  여행  숙박  M   20  201701    RED    활동   29642635.0    895
1  충북  대전   동구  여행  교통  F   20  201701  WHITE    휴식  123274128.0  10231
2  경북  대전   동구  여행  교통  M   30  201701    RED    휴식   95719488.0   7363
3  경북  대전   동구  여행  교통  F   30  201701  WHITE    휴식  188659152.0  12908
4  광주  대전   동구  여행  교통  F   20  201701  WHITE    활동  201232160.0   5600

In [16]:
df_2017 = df_2017[df_2017['거주지'] != df_2017['가맹점']]
df_2018 = df_2018[df_2018['거주지'] != df_2018['가맹점']]
df_2019 = df_2019[df_2019['거주지'] != df_2019['가맹점']]
df_2020 = df_2020[df_2020['거주지'] != df_2020['가맹점']]

In [19]:
df_2017.to_csv('./csv_file/여행자_2017.csv', encoding='utf-8')
df_2018.to_csv('./csv_file/여행자_2018.csv', encoding='utf-8')
df_2019.to_csv('./csv_file/여행자_2019.csv', encoding='utf-8')
df_2020.to_csv('./csv_file/여행자_2020.csv', encoding='utf-8')