In [2]:
import pandas as pd

In [54]:
df = pd.read_csv('./csv_file/국민여행조사_여행지역.csv', encoding='utf-8')
df1 = pd.read_csv('./csv_file/국민여행조사3.csv')

In [55]:
df.columns

Index(['ID', 'MON_EXP_1', 'D_TRA1_1_SPOT1', 'BSEX', 'BAGE', 'BARA'], dtype='object')

In [56]:
df1.columns

Index(['ID', 'A2_1', 'A2_2', 'A2_3', 'A3_1', 'A3_2', 'A3_3', 'A3_4', 'A3_5',
       'A3_6', 'A3_7', 'A3_8', 'A3_9', 'A3_10', 'A3_11', 'A3_12', 'A3_13',
       'A3_14', 'A3_15', 'A3_16', 'A3_17', 'A3_18', 'A3_19', 'A3_20', 'A3_21',
       'A4_1', 'A4_2', 'A4_3', 'A4A_1', 'A4A_2', 'A4A_3', 'A12', 'A13', 'A14',
       'BSEX', 'BAGE', 'label', 'travel'],
      dtype='object')

In [57]:
df1 = df1.drop(['BSEX', 'BAGE'], axis=1)

In [58]:
df = pd.merge(df, df1, on='ID', how='left')

In [59]:
# 국민여행조사에서 20, 30대 남녀만 추출
# 여행만족도 라벨이 1인 값만 추출
# 여행 선정기준 1,2,3에 따라 국내 어느 지역을 여행했는지 추출
# 결정트리를 통해

In [60]:
df = df[df['MON_EXP_1'] == 1]
df = df[df['label'] == 1]
df = df[(df['BAGE'] == 2) | (df['BAGE'] == 3)]
df = df.reset_index(drop=True)

In [61]:
df.columns

Index(['ID', 'MON_EXP_1', 'D_TRA1_1_SPOT1', 'BSEX', 'BAGE', 'BARA', 'A2_1',
       'A2_2', 'A2_3', 'A3_1', 'A3_2', 'A3_3', 'A3_4', 'A3_5', 'A3_6', 'A3_7',
       'A3_8', 'A3_9', 'A3_10', 'A3_11', 'A3_12', 'A3_13', 'A3_14', 'A3_15',
       'A3_16', 'A3_17', 'A3_18', 'A3_19', 'A3_20', 'A3_21', 'A4_1', 'A4_2',
       'A4_3', 'A4A_1', 'A4A_2', 'A4A_3', 'A12', 'A13', 'A14', 'label',
       'travel'],
      dtype='object')

In [67]:
import math
A = []
for i in range(len(df)):
    A.append(str(math.trunc(df['A2_1'][i])))

In [69]:
df['A2_1'] = A

In [71]:
df = df.filter(['A2_1', 'A2_2', 'A2_3', 'D_TRA1_1_SPOT1'])

In [74]:
df.to_csv('./csv_file/의사결정트리_여행지역.csv')

In [75]:
df.D_TRA1_1_SPOT1.value_counts()

21090    277
37020    236
39020    210
32030    190
32060    173
        ...
38380      1
22040      1
23080      1
11080      1
38310      1
Name: D_TRA1_1_SPOT1, Length: 227, dtype: int64